<!DOCTYPE html>
<html lang="en">

<head>
    <title>Accounts</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    {% block signup %}
    {% endblock signup %}

    <main>
        {% block logout %}
        {% endblock logout %}
    </main>
</body>

</html>